$primary-color: #2c00ff;
$primary-dark-color: #2d2946;
$text-color: rgba(255, 255, 255, 0.92);
$secondary-text-color: rgba(232, 236, 240, 0.87);
$highlight-text-color: #8aa5ff;
$primary-background-color: #0c0c0d;
$secondary-background-color: #121214;
$input-background-color: #29292c;
$divider-background-color: #232323;
$button-text-color: #eeeeee;
