@use "variables" as *;
@import "media-queries";

ul {
  list-style: none;
}

.header {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding: 16px 40px;
  position: fixed;
  width: 100%;
  z-index: 10;

  .menu {
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    gap: 40px;

    @include mobile {
      gap: 28px;
    }

    li {
      cursor: pointer;
      font-weight: bold;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.header-background {
  background-color: rgba($color: $primary-background-color, $alpha: 0.8);
  border-bottom: 2px solid $divider-background-color;
  backdrop-filter: blur(20px);
}

.languages-container {
  position: relative;
  min-height: 28px;
  min-width: 28px;
  cursor: pointer;

  .dialog-list {
    position: absolute;
    left: -150px !important;
    background-color: $secondary-background-color;
    color: $text-color;
    inset-inline-start: -100%;
    border-radius: 8px;
    display: none;
    flex-direction: column;

    @include mobile {
      top: -4px !important;
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 36px;
      width: 180px;
      padding: 8px;

      &:hover {
        background-color: rgba($color: $primary-color, $alpha: 0.2);
      }

      &_info {
        display: flex;
        gap: 8px;
        align-items: center;

        .flag {
          height: 28px;
        }
      }
    }
  }

  .border-and-background {
    top: -4px;
    border: 2px solid $divider-background-color;
    background-color: rgba($color: $primary-background-color, $alpha: 0.8);
  }

  .open {
    display: flex;
  }

  .socials {
    display: flex;
  }
}
